.App {
  text-align: center;
}
.header{
  font-weight: 500;
  font-size: x-large;
  border: 2px solid pink;
  background-color: red;
  color: white;
  text-align: center;
}
.registration-form{
  font-weight: 800;
  margin-top: 20px;
  text-align: center;
}